/* Store "constants" here */
:root {
  /* values for any spacing e.g. padding, margin, etc. */
  --mem-space-navbar: 65px;
  --mem-space-large: 40px;
  --mem-space-small: 20px;

  /* font sizes */
  --mem-font-large: 3.5em;
  --mem-font-medium: 1.75em;
  --mem-font-small: 1.25em;

  /* colors */
  --mem-color-text: white;
  --mem-color-text-dark: #e0e0e0;
  --mem-color-text-darker: #cccccc;
  --mem-color-back: #1e1e1e;
  --mem-color-back-light: #2a2a2a;

  --mem-border-radius: 10px; /* thickness of strip on left side */
  --mem-hover-scale: 1.05;
  --mem-transition: 0.3s;
}

body {
  background-color: var(--mem-color-back);
}

.membership-page {
  padding: var(--mem-space-large);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--mem-color-back);
  color: var(--mem-color-text);

  h1 {
    font-size: var(--mem-font-large);
    margin-bottom: var(--mem-space-small);
  }
}

.membership-page .membership-cards {
  display: flex;
  flex-direction: row;
  gap: var(--mem-space-small);
  justify-content: center;
  align-items: flex-start;

  .membership-card {
    background-color: var(--mem-color-back-light);
    border-radius: var(--mem-border-radius);
    padding: var(--mem-space-small);
    flex: 1;
    max-width: 500px;
    position: relative;
    text-align: left;
    border-left: var(--mem-border-radius) solid var(--mem-card-accent-color);

    --mem-card-accent-color: white;
    &.card-member {--mem-card-accent-color: #0078D7;}
    &.card-updates {--mem-card-accent-color: #6A0DAD;}

    h2, h3, p, ul li {
      margin-bottom: var(--mem-space-small);
    }

    h2 {
      text-align: center;
      font-size: var(--mem-font-medium);
    }

    h3 {
      font-size: var(--mem-font-small);
    }

    ul li {
      margin-left: var(--mem-font-medium);

      &::marker {
        color: var(--mem-card-accent-color);
      }
    }

    .button-container {
      display: flex;
      justify-content: center;

      button {
        background-color: var(--mem-card-accent-color);
        color: white;
        border: none;
        padding: var(--mem-space-small) var(--mem-space-large);
        font-size: var(--mem-font-small);
        font-weight: bold;
        cursor: pointer;
        border-radius: var(--mem-border-radius);
        transition: var(--mem-transition) ease;

        &:hover {
          background-color: white;
          color: var(--mem-card-accent-color);
          transform: scale(var(--mem-hover-scale));
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  :root {
    /* values for any spacing e.g. padding, margin, etc. */
    --mem-space-large: 20px;
    --mem-space-small: 10px;

    /* font sizes */
    --mem-font-large: 1.8em;
    --mem-font-medium: 1.25em;
    --mem-font-small: 1em;

    --mem-border-radius: 8px;
    --mem-hover-scale: 1.025;
  }

  .membership-page .membership-cards {
    flex-direction: column;

    .membership-card {
      max-width: unset;
    }
  }
}
