@keyframes typing {
  0% { width: 0; }
  70%, 100% { width: 100%; }
}

@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: white; }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* The entire About page */
.about-page {
  padding-top: 60px; /* to account for navbar */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #1e1e1e;
  color: white;
}

/* The About page banner image */
.about-image {
  width: 100%;
  display: block;
  min-width: 300px;
  overflow-x: scroll;
}

/* The About page paragraphs */
.about-content {
  padding: 40px 15%;
  background-color: #1e1e1e;
  color: white;

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    margin-bottom: 20px;

    /* Typing and cursor blink effect */
    animation: typing 4s steps(20, end), blink .75s step-end infinite;
    border-right: .15em solid white;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: fit-content;
  }

  p {
    font-size: 1.75em;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
  }
}

/* Section = one Team of the MTC Council */
.section {
  padding: 40px 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 2em;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
  }

  .members-container {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    .member {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 270px;
      background-color: #2a2a2a;
      padding: 20px 20px;
      transition: 0.1s ease-out;

      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
      }

      h4 {font-size: 1.5em; margin: 10px 0 5px 0;}

      p {font-size: 1.2em; margin: 5px 0;}

      .social-icons {
        display: flex;
        gap: 10px;

        a {
          color: white;
          font-size: 1.2em;
          transition: color 0.1s ease;
          &:hover {color: #0078D7;}
        }
      }

      /* Member hover */
      &:hover {background-color: #393939;}
    }
  }
}

/* Mobile layout */
@media screen and (max-width: 750px) {
  .about-content {
    padding: 20px 5%;

    h1 {font-size: 2.5em; border-right: .1em solid white;}

    p {font-size: 1.2em;}
  }
}
