/* Store "constants" here */
:root {
  /* values for any spacing e.g. padding, margin, etc. */
  --articles-space-navbar: 65px;
  --articles-space-large: 40px;
  --articles-space-small: 15px;
  --articles-cards-max-width: 1080px;

  /* font sizes */
  --articles-font-large: 3.5em;
  --articles-font-medium: 1.75em;
  --articles-font-small: 1.25em;

  /* colors */
  --articles-color-accent: #0078d7;
  --articles-color-text-dark: #e0e0e0;
  --articles-color-back: #1e1e1e;
  --articles-color-back-light: #2a2a2a;
  --articles-color-back-lighter: #393939;

  --articles-border-radius: 10px; /* thickness of strip on left side */
  --articles-hover-scale: 1.05;
  --articles-transition: 0.3s;
}

body {
  background-color: var(--articles-color-back);
}

.articles-page {
  padding: var(--articles-space-large);
  display: flex;
  flex-direction: column;
  gap: var(--articles-space-large);
  align-items: center;
  text-align: center;

  h1 {
    font-size: var(--articles-font-large);
  }
}

.articles-page .articles-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: var(--articles-space-large);
  justify-content: center;
  width: 100%;
  max-width: var(--articles-cards-max-width);

  .article-card {
    background-color: var(--articles-color-back-light);
    border-radius: var(--articles-border-radius);
    overflow: hidden;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* min-width: 300px; */
    border-left: var(--articles-border-radius) solid var(--articles-color-accent);

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: center;
      display: block;
    }

    .article-content {
      display: grid;
      gap: var(--articles-space-small);
      padding: var(--articles-space-small);
      text-align: left;
      grid-template-rows: auto 1fr auto;
      height: 100%;

      h2 {
        font-size: var(--articles-font-medium);
      }

      .article-button {
        margin: 0 auto; /* center it horizontally */

        button {
          padding: var(--articles-space-small) var(--articles-space-small);
          border: none;
          color: white;
          background-color: var(--articles-color-accent);
          font-size: var(--articles-font-small);
          font-weight: bold;
          border-radius: var(--articles-border-radius);
          cursor: pointer;
          transition: var(--articles-transition) ease;

          /* Flexbox for containing the icon and the text */
          display: flex;
          flex-direction: row;
          gap: var(--events-space-small);
          align-items: flex-start;
          > span {line-height: 1;}

          &:hover {
            color: var(--articles-color-accent);
            background-color: white;
            transform: scale(var(--articles-hover-scale));
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  :root {
    /* values for any spacing e.g. padding, margin, etc. */
    --articles-space-large: 20px;
    --articles-space-small: 10px;

    /* font sizes */
    --articles-font-large: 1.8em;
    --articles-font-medium: 1.25em;
    --articles-font-small: 1em;

    --articles-border-radius: 8px;
    --articles-hover-scale: 1.025;
  }

  .articles-page .articles-cards {
    grid-template-columns: 1fr; /* 1 column */

    .article-card {
      img {height: 150px;}
      .article-content {height: auto;}
    }
  }
}
