/* Store "constants" here */
:root {
  /* values for any spacing e.g. padding, margin, etc. */
  --home-space-large: 40px;
  --home-space-small: 20px;

  /* font sizes */
  --home-font-large: 3.5em;
  --home-font-medium: 1.75em;
  --home-font-small: 1.25em;

  /* colors */
  --home-color-text-dark: #e0e0e0;
  --home-color-text-darker: #cccccc;
  --home-color-back: #1e1e1e;

  --home-border-radius: 10px; /* thickness of strip on left side */
  --home-hover-scale: 1.05;
  --home-blur: 5px;
  --home-transition: 0.3s;
}

/* @keyframes typing {
  0% { width: 0; }
  70%, 100% { width: 100%; }
}
@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: white; }
} */

body {
  background-color: var(--home-color-back);
}

/* MARK: BANNER */
.home-banner {
  height: 100vh;
  padding: 0 var(--home-space-small);
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .home-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    filter: brightness(0.5) blur(var(--home-blur));
    transform: scale(var(--home-hover-scale));
    object-fit: cover;
  }

  h1, .h1 {
    font-size: 5em;
    margin-bottom: var(--home-space-large);
    max-width: 100%;
    overflow: hidden;

    /* Typing and cursor blink effect */
    /* animation: typing 4s steps(30, end) infinite, blink .75s step-end infinite;
    border-right: .15em solid white;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: fit-content; */
  }

  p {
    font-size: 2em;
    margin-bottom: var(--home-space-large);
  }

  button {
    background-color: black;
    color: white;
    border: none;
    padding: var(--home-space-small) var(--home-space-large);
    font-size: var(--home-font-medium);
    font-weight: bold;
    border-radius: var(--home-border-radius);
    transition: var(--home-transition) ease;

    &:hover {
      background-color: white;
      color: black;
      transform: scale(var(--home-hover-scale));
    }
  }
}

/* MARK: OFFER */
.home-offer {
  padding: var(--home-space-large) var(--home-space-small);
  background-color: var(--home-color-back);
  text-align: center;
  align-items: center;
  border-radius: var(--home-border-radius);

  h2 {
    font-size: var(--home-font-large);
  }

  p {
    font-size: var(--home-font-medium);
    margin: var(--home-space-small) 15%;
    color: var(--home-color-text-dark);
  }

  .home-offer-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--home-space-small);
    justify-content: center;
    width: fit-content;
    margin: 0 auto;

    .home-offer-card {
      position: relative;
      overflow: hidden;
      border-radius: var(--home-border-radius);
      transition: var(--home-transition) ease;
      max-width: 400px;
      max-height: 400px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      h3 {
        position: absolute;
        bottom: 0;
        left: var(--home-border-radius);
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(var(--home-blur));
        padding: var(--home-space-small);
        text-align: center;
        margin: 0;
        font-size: var(--home-font-small);
      }

      /* Card hover */
      &:hover {
        transform: scale(var(--home-hover-scale));
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      }

      /* Card color stripe on left side */
      &.card-1::before, &.card-2::before, &.card-3::before, &.card-4::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: var(--home-border-radius);
        height: 100%;
      }

      &.card-1::before { background-color: #FFB900; }
      &.card-2::before { background-color: #0078D7; }
      &.card-3::before { background-color: #00BC28; }
      &.card-4::before { background-color: #D83B01; }
    }
  }
}

/* MARK: AMBASSADOR */
.home-ambassador {
  margin-top: var(--home-space-large);
  padding: var(--home-space-large) var(--home-space-small);
  background-color: #1e1e1e;
  text-align: center;
  border-radius: var(--home-border-radius) var(--home-border-radius) 0 0;

  h2 {
    font-size: var(--home-font-large);
  }

  p {
    font-size: var(--home-font-medium);
    padding: var(--home-space-small) 15%;
    color: var(--home-color-text-dark);
  }

  .home-ambassador-cards {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: auto auto;
    gap: var(--home-space-small);
    justify-items: stretch;
    align-items: stretch;
    margin: 0 auto;

    .home-ambassador-card {
      position: relative;
      overflow: hidden;
      border-radius: var(--home-border-radius);
      transition: var(--home-transition) ease;

      &.poster {
        grid-column: 2;
        grid-row: 1 / span 2;
        width: 100%;
      }

      img {
        height: 100%;
        object-fit: cover;
      }

      h3 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(var(--home-blur));
        padding: var(--home-space-small);
        text-align: center;
        margin: 0;
        font-size: var(--home-font-small);
      }

      &:hover {
        transform: scale(var(--home-hover-scale));
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      }
    }
  }

  button {
    margin-top: var(--home-space-large);
    background-color: white;
    color: black;
    border: none;
    padding: var(--home-space-small) var(--home-space-large);
    font-size: var(--home-font-medium);
    cursor: pointer;
    border-radius: var(--home-border-radius);
    transition: var(--home-transition) ease;

    &:hover {
      background-color: black;
      color: white;
      transform: scale(var(--home-hover-scale));
    }
  }
}

/* MARK: EVENTS */
.home-events {
  margin-top: var(--home-space-large);
  padding: var(--home-space-large) var(--home-space-small);
  background-color: var(--home-color-back);
  text-align: center;
  border-radius: var(--home-border-radius);

  h2 {
    font-size: var(--home-font-large);
  }

  p {
    font-size: var(--home-font-medium);
    margin: var(--home-space-small) 15%;
    color: var(--home-color-text-dark);
  }

  .home-event-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--home-space-small);
    justify-content: center;
    margin: 0 auto;
    width: fit-content;

    .home-event-card {
      position: relative;
      overflow: hidden;
      border-radius: var(--home-border-radius);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      transition: transform var(--home-transition) ease;
      max-width: 400px;
      max-height: 400px;

      img {
        object-fit: cover;
        transition: filter var(--home-transition) ease;
      }

      button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        border: none;
        padding: var(--home-space-small) var(--home-space-large);
        font-size: var(--home-font-small);
        cursor: pointer;
        border-radius: var(--home-border-radius);
        opacity: 0;
        transition: opacity var(--home-transition) ease;
        text-align: center;
      }

      &:hover {
        img {filter: blur(var(--home-blur));}
        button {opacity: 1;}
      }
    }
  }

  .view-all-button {
    margin-top: var(--home-space-large);
    background-color: white;
    color: black;
    border: none;
    padding: var(--home-space-small) var(--home-space-large);
    font-size: var(--home-font-medium);
    cursor: pointer;
    border-radius: var(--home-border-radius);
    transition: var(--home-transition) ease;

    &:hover {
      background-color: black;
      color: white;
      transform: scale(var(--home-hover-scale));
    }
  }
}

/* MARK: SOCIAL MEDIA */
.home-social-media {
  margin-top: var(--home-space-large);
  padding: var(--home-space-large) var(--home-space-small);
  background-color: var(--home-color-back);
  text-align: center;
  border-radius: var(--home-border-radius) var(--home-border-radius) 0 0;

  h2 {
    font-size: var(--home-font-large);
  }

  p {
    font-size: var(--home-font-medium);
    margin: var(--home-space-small) 15%;
    color: var(--home-color-text-dark);
  }

  .home-social-media-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--home-space-small);
    justify-content: center;
    width: fit-content;
    margin: 0 auto;

    .home-social-media-card {
      position: relative;
      overflow: hidden;
      border-radius: var(--home-border-radius);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      transition: transform var(--home-transition) ease;
      max-width: 400px;
      max-height: 400px;

      img {
        object-fit: cover;
        transition: filter var(--home-transition) ease;
      }

      .home-social-media-card-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.7);
        border: none;
        padding: var(--home-space-small);
        font-size: var(--home-font-small);
        cursor: pointer;
        border-radius: var(--home-border-radius);
        opacity: 0;
        transition: opacity var(--home-transition) ease;
        text-align: center;
      }

      /* &:hover {
        img {filter: blur(var(--home-blur));}
        .home-social-media-card-content {opacity: 1;}
      } */
    }
  }
}

/* ============================= Mobile layout ============================= */

@media screen and (max-width: 750px) {
  /* MARK: 📱 */
  :root {
    /* values for any spacing e.g. padding, margin, etc. */
    --home-space-small: 10px;
    --home-space-large: 20px;

    /* font sizes */
    --home-font-large: 1.8em;
    --home-font-medium: 1.25em;
    --home-font-small: 1em;

    --home-border-radius: 8px; /* thickness of strip on left side */
    --home-hover-scale: 1.025;
    --home-blur: 3px;
  }

  /* MARK: 📱 banner */
  .home-banner {
    h1, .h1 {font-size: 3em;}

    p {font-size: 1.25em;}
  }

  /* MARK: 📱 offer */
  .home-offer {
    .home-offer-cards {
      /* Change to Flex instead of Grid */
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .home-offer-card {
        width: 100%;
        height: 250px;
      }
    }
  }

  /* MARK: 📱 ambassador */
  .home-ambassador {
    .home-ambassador-cards {
      grid-template-columns: repeat(2, 1fr); /* Stack cards one below the other */

      .home-ambassador-card {
        &.poster {
          grid-column: 1 / span 2;
          grid-row: 2;

          img {width: 100%;}
        }
      }
    }
  }

  /* MARK: 📱 events */
  .home-events {
    .home-event-cards {
      grid-template-columns: 1fr; /* Single column layout for mobile */

      .home-event-card {
        height: auto;

        img {height: auto;}
      }
    }
  }

  /* MARK: 📱 social media */
  .home-social-media {
    .home-social-media-cards {
      grid-template-columns: 1fr; /* Stack cards one below the other */
    }
  }
}
