/* Store "constants" here */
:root {
  /* values for any spacing e.g. padding, margin, etc. */
  --events-space-navbar: 65px;
  --events-space-large: 40px;
  --events-space-small: 15px;
  --events-card-max-width: 1080px;

  /* font sizes */
  --events-font-large: 3.5em;
  --events-font-medium: 1.75em;
  --events-font-small: 1.25em;

  /* colors */
  --events-color-text-dark: #e0e0e0;
  --events-color-back: #1e1e1e;
  --events-color-back-light: #2a2a2a;
  --events-color-back-lighter: #393939;

  --events-border-radius: 10px; /* thickness of strip on left side */
  --events-hover-scale: 1.05;
  --events-transition: 0.3s;
}

body {
  background-color: var(--events-color-back);
}

.event-container {
  padding: var(--events-space-large);
  padding-top: calc(var(--events-space-navbar) + var(--events-space-small));
  display: flex;
  flex-direction: column;
  gap: var(--events-space-large);
  align-items: center;
  text-align: center;

  h1.section-title {font-size: var(--events-font-large);}

  .event-empty-message {font-size: var(--events-font-small);}
}

.event-container .event-card {
  display: flex;
  gap: var(--events-space-small);
  background-color: var(--events-color-back-light);
  max-width: var(--events-card-max-width);
  padding: var(--events-space-small);
  justify-content: space-between;
  align-items: center;
  transition: var(--events-transition) ease;
  border-radius: var(--events-border-radius);

  /* Card color stripe on left side */
  --event-card-accent-color: #0078d7;
  &.upcoming {--event-card-accent-color: #00d778;}
  border-left: var(--events-border-radius) solid var(--event-card-accent-color);

  &:hover {background-color: var(--events-color-back-lighter);}

  .event-info {
    display: flex;
    flex-direction: column;
    flex: 1.25; /* 1.25 : 1.00 ratio for Info : Image */
    gap: var(--events-space-small);
    align-items: center;

    h2 {
      text-align: center;
      font-size: var(--events-font-medium);
    }

    .event-description {
      align-self: flex-start;
      text-align: justify;
      color: var(--events-color-text-dark);
    }

    .event-datetime {
      display: flex;
      flex-direction: row;
      gap: var(--events-space-small);
      line-height: 1;
      font-size: var(--events-font-small);

      .event-icon-calendar {
        color: var(--event-card-accent-color);
      }
    }

    .event-buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: var(--events-space-small);

      button {
        padding: var(--events-space-small) var(--events-space-small);
        border: none;
        color: white;
        background-color: var(--event-card-accent-color);
        font-size: var(--events-font-small);
        font-weight: bold;
        border-radius: var(--events-border-radius);
        cursor: pointer;
        transition: var(--events-transition) ease;

        /* Flexbox for containing the icon and the text */
        display: flex;
        flex-direction: row;
        gap: var(--events-space-small);
        align-items: flex-start;
        > span {line-height: 1;}

        &:hover {
          color: var(--event-card-accent-color);
          background-color: white;
          transform: scale(var(--events-hover-scale));
        }
      }
    }
  }

  .event-image {
    flex: 1;
    align-items: stretch;

    img {
      border-radius: var(--events-border-radius);
    }
  }
}

@media only screen and (max-width: 750px) {
  :root {
    /* values for any spacing e.g. padding, margin, etc. */
    --events-space-large: 20px;
    --events-space-small: 10px;

    /* font sizes */
    --events-font-large: 1.8em;
    --events-font-medium: 1.25em;
    --events-font-small: 1em;

    --events-border-radius: 8px;
    --events-hover-scale: 1.025;
  }

  .event-container .event-card {
    flex-direction: column;
  }
}
